@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: #00FFE5;
  color: black;
}

.waving-hand {
  display: inline-block;
  animation: wavingHand 3.5s infinite;
}

@keyframes wavingHand {
  0% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(0deg)
  }
  70% {
    transform: rotate(-10deg)
  }
  80% {
    transform: rotate(10deg);
  }
  85% {
    transform: rotate(0deg);
  }
}